@import '../../assets/scss/constants.scss';

.subscribe {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  position: relative;
  height: 100vh;

  .aside {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &.aside-left {
      width: 420px;
      background: $lightYellow;
      padding: 40px;

      .logo {
        width: 48px;
        height: 48px;
        margin-bottom: 30px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .intro {
        h2 {
          font-size: 27px;
          font-weight: 700;
          line-height: 1.4;
          color: $darkYellow;
        }
      }

      .artwork {
        display: flex;
        flex: 1;
        margin-top: 40px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &.aside-right {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 100vh;
      overflow-y: auto;

      .head {
        margin: 40px;

        p {
          text-align: right;
          color: $lightFont;
          font-size: 14px;

          a {
            margin-left: 5px;
          }
        }
      }

      .main {
        display: flex;
        flex-direction: column;
        max-width: 420px;
        width: 100%;
        padding: 0 20px;
        margin: auto;
        padding-bottom: 25px;

        h2 {
          font-size: 27px;
          margin-bottom: 20px;
        }

        .subscribe-with {
          display: flex;

          .button {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .icon {
            width: 18px;
            height: 18px;

            svg {
              width: 100%;
              height: 100%;
            }
          }

          .facebook-button {
            width: 100%;
            background-color: $blue;

            .icon {
              margin-right: 5px;
            }

            &:hover {
              background-color: $lightBlue;
            }
          }

          .google-button {
            margin: 0 7px;
          }

          .google-button,
          .twitter-button {
            background-color: $light;

            .icon {
              svg {
                fill: $dark;
              }
            }

            &:hover {
              background-color: $lightGrey;
            }
          }
        }

        .subscribe-separator {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0;
          position: relative;

          span {
            font-size: 14px;
            color: $lightFont;
            padding: 2px 10px;
          }

          &::before,
          &::after {
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $light;
          }
        }

        .subscribe-form {
          display: flex;
          flex-direction: column;
          margin-bottom: 25px;

          .name-fields {
            display: flex;

            .input-name {
              margin-right: 7px;
            }

            .input-username {
              margin-left: 7px;
            }
          }

          .select-wilaya {
            margin-bottom: 15px;
          }

          .checkbox-terms {
            margin-bottom: 15px;
          }

          .subscribe-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
          }
        }
      }
    }
  }

  @media (max-width: 780px) {
    .aside {
      &.aside-left {
        display: none;
      }

      &.aside-right {
        .main {
          .subscribe-form {
            .name-fields {
              flex-direction: column;

              .input-name {
                margin-right: 0px;
              }

              .input-username {
                margin-left: 0px;
              }
            }
            .subscribe-button {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media (max-width: 320px) {
    .aside {
      &.aside-right {
        .head {
          margin: 40px 20px;
        }

        .main {
          .subscribe-with {
            .button {
              width: 100%;

              &.facebook-button {
                span {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
