@import '../../assets/scss/constants.scss';

.loader {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  margin: auto;

  span {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: 3px solid $light;
    border-radius: 50%;
    border-top-color: $charcoal;
    -webkit-animation: spin 600ms linear infinite;
    animation: spin 600ms linear infinite;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
