@import '../../assets/scss/constants.scss';

.profile-page {
  display: flex;
  flex: 1;

  .textarea {
    textarea {
      resize: none;
    }
  }

  .profile-page-card {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 250px;
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 275px);
    height: calc(100vh - 80px);
    overflow-y: auto;
    margin-left: auto;
    position: relative;
    border-left: 1px solid $transparentDark;

    .titles {
      display: flex;
      position: fixed;
      z-index: 10;
      width: 100%;
      background: $white;
      height: 50px;
      border-bottom: 1px solid $transparentDark;

      button {
        &.button {
          background: none;
          border-right: 1px solid $transparentDark;
          border-radius: 0;

          b {
            color: $dark;
          }

          &:hover {
            background: $transparentDark;
          }

          &.active {
            background: $pink;
            b {
              color: $light;
            }
          }
        }
      }
    }

    .contents {
      padding: 50px;
    }
  }
}
