@import '../../assets/scss/constants.scss';

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background: $light;
  padding: 10px;
  border-radius: 5px;

  .head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;

    a {
      text-transform: capitalize;
      transition: all 150ms ease-in;

      h4 {
        font-size: 12px;
        color: $darkFont;
      }

      &:hover {
        color: $pink;
        text-decoration: none;

        h4 {
          color: $pink;
        }
      }
    }

    .time {
      display: flex;
      align-items: center;
      color: $lightFont;

      .moment {
        font-size: 11px;
        font-weight: 700;
      }
    }
  }

  .content {
    p {
      font-size: 14px;
      color: $font;
      line-height: 1.3;
    }
  }
}
