@import '../../assets/scss/constants.scss';

.profile-card {
  display: flex;
  flex-direction: column;
  width: 250px;

  .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 9px 0px $lightGrey;
    margin-right: 40px;
    margin-top: 10px;

    span {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .name {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-transform: capitalize;
    color: $font;
  }

  .username {
    font-size: 13px;
    margin-bottom: 15px;
    color: $lightFont;
    font-weight: bold;
    font-family: $fontSansSerif;
  }

  .separator {
    display: flex;
    height: 2px;
    width: 90%;
    background-color: $lightGrey;
    margin: 10px auto;
  }

  .wilaya,
  .birthdate {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    margin-top: 2px;
    font-size: 15px;
    color: $font;
    text-transform: capitalize;

    .icon {
      width: 15px;
      height: 15px;
      margin-right: 5px;

      svg {
        width: 100%;
        height: 100%;
        fill: $lightFont;
      }
    }
  }

  .email {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 20px;
    margin-top: 2px;
    font-size: 15px;
    color: $font;

    .icon {
      width: 15px;
      height: 15px;
      margin-right: 5px;

      svg {
        width: 100%;
        height: 100%;
        fill: $lightFont;
      }
    }

    &:hover {
      color: #da3838;

      svg {
        fill: #da3838;
      }
    }
  }

  .facebook,
  .twitter {
    margin-right: 10px;
  }

  .facebook,
  .twitter,
  .phone {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 20px;
    margin-top: 2px;
    font-size: 15px;
    color: $font;

    .icon {
      width: 15px;
      height: 15px;
      margin-right: 5px;

      svg {
        width: 100%;
        height: 100%;
        fill: $lightFont;
      }
    }
  }

  .facebook {
    color: #036ee4;

    svg {
      fill: #036ee4;
    }
  }

  .twitter {
    color: #1da1f2;

    svg {
      fill: #1da1f2;
    }
  }

  .phone {
    color: #6bbe95;

    svg {
      fill: #6bbe95;
    }
  }

  .bio {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid $lightGrey;
    border-radius: 8px;

    .content {
      color: $font;
      font-size: 14px;
      line-height: 1.5;
    }
  }
}
