@import '../../assets/scss/constants.scss';

.book-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: 0;
  background: #00000077;
  z-index: 20;
  animation: showBookDetails 150ms ease;

  .close {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: transparent;

    &:focus {
      background: transparent;
    }

    svg {
      margin-left: auto;
      width: 15px;
      height: 15px;
      fill: $white;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    min-height: calc(100vh - 125px);
    background-color: $white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 50px 30px;
    position: relative;
    animation: slideInDetails 150ms ease;

    .loader-wrapper {
      display: flex;
      flex: 1;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    .the-book {
      display: flex;
      justify-content: center;
      width: 100%;

      .book-cover {
        width: 260px;
        height: 400px;
        border-radius: 8px;
        overflow: hidden;
        margin-right: 40px;

        span,
        img {
          width: 100%;
          height: 100%;
        }
      }

      .book-infos {
        display: flex;
        flex-direction: column;
        width: 280px;
        padding: 10px;

        & > div {
          margin-bottom: 10px;
          display: flex;

          b {
            font-weight: 700;
            color: $pink;
            text-transform: capitalize;
            margin-right: 10px;
          }

          span {
            font-size: 15px;
            color: $font;
          }

          &.more {
            flex-direction: column;
            b {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .owner {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 60px;

      .user-avatar {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 2px solid $lightGrey;
        }

        &:after,
        &:before {
          display: block;
          position: absolute;
          top: 50px;
          content: '';
          height: 2px;
          width: calc(50% - 70px);
          background: $lightGrey;
        }

        &:before {
          left: 0;
        }

        &:after {
          right: 0;
        }
      }

      .user-links {
        display: flex;
        flex-direction: column;

        .name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 15px 0;

          h2 {
            text-transform: capitalize;
            font-size: 21px;
            color: $pink;
          }

          p {
            font-size: 13px;
            color: $lightFont;
            font-weight: 700;
          }
        }

        .links {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          & > div {
            display: flex;
            margin: 0 10px;

            .icon {
              width: 18px;
              height: 18px;
              margin-right: 4px;

              svg {
                fill: $pink;
              }
            }

            b {
              font-weight: 700;
              font-size: 14px;
              line-height: 1.5;
            }
          }
        }
      }
    }

    .user-books,
    .related-books {
      display: flex;
      flex-direction: column;
      margin-top: 25px;

      .user-books__title,
      .related-books__title {
        margin: 25px 0;
        h1 {
          font-size: 27px;

          span {
            color: $pink;
          }
        }
      }
    }
  }
}

@keyframes showBookDetails {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInDetails {
  0% {
    top: 30px;
  }

  100% {
    top: 0px;
  }
}
