@import '../../assets/scss/constants.scss';

.message {
  position: fixed;
  z-index: 1000;
  display: flex;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  animation: show 400ms ease forwards running;

  &.error {
    background-color: $red;
  }

  &.success {
    background-color: $green;
  }

  p {
    margin: 0 auto;
    text-align: center;
    font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial,
      sans-serif;
    font-size: 14px;
    color: $light;
    line-height: 20px;
    transform: translateY(-100px);
    animation: show 400ms ease 200ms forwards running;
  }
}

@keyframes show {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
