.requests-form {
  display: flex;
  flex: 1;

  form {
    display: flex;
    flex-direction: column;
    flex: 1;

    .head {
      display: flex;
      justify-content: space-between;

      .input,
      .select {
        width: 30%;
      }
    }

    textarea {
      width: 100%;
      height: 120px;
      resize: none;
    }

    .button {
      text-transform: capitalize;
      width: 150px;
    }
  }
}
