$black: #000000;
$white: #ffffff;
$dark: #121212;
$light: #f3f3f4;

$lightGrey: #e5e5e5;
$font: #31302c;
$darkFont: #202124;
$lightFont: #5f6368;
$link: #4f3cc9;
$lightLink: #7263d4;
$tiger: #ff6145;
$sandstone: #ffdc9f;
$taupe: #dda797;
$green: #3d9776;
$lightGreen: #a1dac4;
$darkGreen: #0d422e;
$heather: #827f86;
$purple: #e8d9f1;
$darkPurple: #3e1554;
$charcoal: #262223;
$blue: #2a75f3;
$lightBlue: #4285f4;
$darkPink: #bb3d6e;
$darkerPink: #5f1626;
$pink: #ea4c89;
$lightPink: #f082ac;
$lighterPink: #f1cdd7;
$fadePink: #f1cdd788;
$red: #ff5555;
$darkYellow: #5f4916;
$lightYellow: #f5da9a;

$fontSansSerif: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI',
  'Fira Sans', 'Droid Sans', Ubuntu, 'Helvetica Neue', Helvetica, Arial,
  sans-serif;

$fontSerif: 'Merriweather', Helvetica, serif;
